:root{
    margin: 0;
}

header{
    background-color: #03045e;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.75);
    z-index: 1;
}

.dashboard-btn{
    background-color: #023E8A;
}

.dashboard-btn:hover{
    background-color: #0077B6;
}

.logout-btn{
    
}